body {
	background-color:#fe7b7c;

	font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.hero-unit h1 {
  font-family: 'Rock Salt', cursive;
}
.hero-unit .hero-heading,p {
  color: #ebe43f;
}

.hero-unit {
  background-image:url('https://github.com/nodanaonlyzuul/kokomo-desktop/raw/gh-pages/images/stamos.gif');
  background-size:cover;
  height:300px;
  background-position-y: -200px;
  margin-top: 20px;
}
